@import '../../vars.css';

.project_card:not(:first-child) {
    margin-top: 50px;
}

.project_title {
    font-weight: bold;
    font-size: 30px;
    color: #000;

    &:hover {
        color: blue;
    }
}

.project_info {
    display: flex;
    margin-left: 5px;
}

.header_tag {
    font-style: italic;
    color: #555;
}

.header_tag:not(:first-child) {
    margin-left: 8px;

    a {
        color: #555;
        text-decoration: underline;
    
        &:hover {
            color: blue;
        }
    }
}

.header_tag:first-child {
    border-right: 1px dashed #000;
    padding-right: 8px;
}

.card_body {
    display: flex;
    margin-left: 15px;
}

.project_description {
    margin: 0;

    a {
        color: blue;

        &:hover {
            text-decoration: underline;
        }
    }
}

.card_body > img {
    margin-right: 15px;
    width: 150px;
}