.page_header{
    display: grid;
    box-shadow: 0px 0px 5px 1px #888888;
    background-image: url('/images/spamton.gif');
    font-size: 0.8vw;
    background-size: 100%;
    background-position-y: -70%;
    background-position-x: -42vw;
}

.section_info > h1:first-child {
    padding-left: 3%;
}

.section_info > h1 {
    font-size: 25px;
    margin: 0px;
    padding-left: 1%;
    padding-right: 1%;
}

.gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #fff 30%, #ffffff00 90%, #ffffff00);
}

.section_info {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.section_marker{
    display: flex;
}

.arrow{
    margin: auto;
    width: 25px;
    height: 25px;
    background-image: url("/images/arrow.png");
    background-size: 100%;
}

@media (max-width: 940px) { /* Tablets */
    .section_info > h1 {
        font-size: 20px;
    }
}