nav {
    font-family: 'Times New Roman', Times, serif;
    line-height: 200%;
    font-size: 17px;
    margin-bottom: 20px;
    background-color: white;
}

.toggle_button {
    display: none;
    border: solid 2px gray;
    padding: 5px;
    border-radius: 5px;

    svg {
        margin-left: 10px;
        width: 20px;
        height: 20px;
    }
}

.selected {
    list-style: disc;
    text-decoration: underline;
}

@keyframes fade-out {
    from {
        max-height: 500px;
    }   
    to {
        max-height: 0px;
    }
} 

@keyframes fade-in {
    from {
        max-height: 0px;
    }
    to {
        max-height: 200px;
    }
} 

@media (max-width: 940px) { /* Tablets */
    nav {
        width: 100%;
        
        ul {
            padding: 0;
        }

        .index_container {
            overflow: hidden;
            max-height: 500px;
        }

        .index_container[expanded='true'] {
            animation: fade-out 0.5s forwards;
        }

        .index_container[expanded='false'] {
            animation: fade-in 0.5s forwards;
        }

        .toggle_button {
            display: inline-flex;
            align-items: center;
        }
    }
}