@import './normalize.css';

.page_wrapper {
    width: 60vw;
    min-height: 100vh;
    margin: 0 auto;

}

.content_wrapper {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 1px #888;
}

.ww {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

@media (max-width: 940px) { /* Tablets */
    .page_wrapper {
      width: 100vw; 
    }

    .content_wrapper {
        display: block;
    }
}

.header_marquee {
    background-color: #000;
    color: yellow;
}

aside {
    border-right: dashed 1px #888;
    padding-right: 2%;
}

.person {
    display: flex;

    h2 {
        margin: 0px;
    }

    img {
        width: 150px;
        height: 150px;
        margin-right: 15px;
        object-fit: cover;
    }
}

main {
    flex-grow: 1;
    padding-left: 2%;
}

a {
    text-decoration: none;
}