.description_container {
    padding: 3%;
    margin: 0 -20px;
    color: #fff;
    border: 5px ridge #444;
    background-image: linear-gradient(#444 20%, #222);
    position: relative;
}

.blc {
    border: 15px solid black;
    /* border-top-color: black; */
    /* border-right-color: black; */
    /* border-bottom-color: black; */
    /* border-left-color: black; */
    border-color: transparent transparent black;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    transform: rotate(45deg);
  /* -ms-transform: rotate(45deg); */
  /* -webkit-transform: rotate(45deg); */
}